<% 
    var showDelete = showDelete || false;
%>

<% posts.forEach((post,index) => { %>
    <% if (index==posts.length-2) { %>
        <%   var htmxAttributes = ` %>
        <%   hx-trigger="revealed" %>
        <%   hx-get="/posts/more" %>
        <%   hx-target="#posts" %>
        <%   hx-swap="beforeend" %>
        <%   hx-on:htmx:config-request="newPostConfig(event)" %>
        <%   hx-on:htmx:after-request="newPostHandler(event)" %>
        <% ` %>
    <% } %>
    <% 
        var maxHeight = "";
        if (!post.imageUrl && !post.ytShortId) {
            var contentLength = post.content.length;
            if (contentLength > 500) {
                maxHeight = "max-h-[700px]";
            } else if (contentLength > 300) {
                maxHeight = "max-h-[500px]";
            } else {
                maxHeight = "max-h-[400px]";
            }
        }
    %>
    <div id="post-<%-post._id%>" class="<%=maxHeight%> bg-zinc-950 border-[1.5px] border-zinc-500 rounded-lg p-4 pb-3 sm:max-w-[30%] max-w-[90%] min-w-[250px] flex flex-col" <%-htmxAttributes%>>
        <div class="flex justify-between">
            <div class="text-sm text-slate-200 rounded-xl bg-zinc-900 max-w-fit p-2 border-2 border-slate-600">
                Posted by<span class="font-medium">: <%= post.user.username %></span>
            </div>
            <% if (showDelete){ %>
                <button class="hover:bg-red-400 hover:bg-opacity-20 p-2 rounded-full" 
                        hx-delete="/api/posts/delete" 
                        hx-vals='{"postId":"<%-post._id%>"}'
                        hx-confirm="Are you sure about deleting the post?"
                        hx-target="#post-<%-post._id%>"
                        hx-swap="outerHTML"
                    >
                    <img src="/static/images/bin.svg" alt="delete" height="25" width="25">
                </button>
            <%} %>
        </div>
        <h1 class="text-xl my-2"><%= post.title %></h1>
        <hr class="w-full">
        <% if (post.content) { %>
            <p class="my-3 break-words max-w-[90%] flex-1 overflow-y-auto no-scrollbar whitespace-pre-wrap"><%= post.content %></p>
        <% } %>
        <% if (post.imageUrl){ %>
            <img src="<%= post.imageUrl %>" alt="<%= post.title %>" class="my-1 rounded-lg max-w-full min-w-[70%] max-h-96" style="object-fit: contain;">
        <% } else if (post.ytShortId){ %>
            <div class="aspect-[9/16] max-h-96 w-full">
                <iframe src="https://www.youtube.com/embed/<%= post.ytShortId %>" class="w-full h-full" frameborder="0" allowfullscreen></iframe>
            </div>
        <% } %>
        <%- include("../../components/posts/post-actions", {post, user}) %>
    </div>
<% }) %>